@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.app::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}

.app::-webkit-scrollbar-thumb{
    background-color: #202020;
}

.app::-moz-scrollbar-track{
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.app::-moz-scrollbar{
  width: 6px;
  background-color: #F5F5F5;
}

.app::-moz-scrollbar-thumb{
  background-color: #202020;
}

