.days-panel{
    display: flex;
    width: 100%;
}

.days-panel-container{
width: 100%;
}

.days-panel-dates{
    display: flex;
    grid-row: 1;
    grid-column: 2;
    align-content: center;
    justify-content: space-around;
    font-size: min(0.7vw, 8pt) ;
    border-bottom: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.days-panel-day-regular{
    display: flex;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.days-panel-day-regular:hover{
    color: rgba(255, 255, 255, 0.8);
}

.days-panel-day-bold{
    display: flex;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 0;
    color: rgb(255, 255, 255);
    cursor: default;
    padding-bottom: 3px;
    border-bottom: 2px rgb(255, 255, 255) solid;
}

/* RESPONSIVE QUERIES */

@media screen and (max-width: 480px) {

    .days-panel{
        width: 80vw;
        height: 25px;
        overflow-y: hidden;
        z-index: 1;

    }

    .days-panel-dates{
        font-size: min(2.2vw, 15pt) ;
        overflow-x: scroll;
        width: 1000px;
        justify-content: space-between;
    }
}


