.profile-feed-scroll-container{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 390px;
    overflow-y: overlay;
    overflow-x: hidden;
    scrollbar-color: rgb(0, 0, 0) rgb(201, 201, 201);
    scrollbar-width: thin;
    border-bottom: rgb(230, 230, 230) solid 1px;
}

.profile-feed-scroll-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.profile-feed-scroll-container::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}

.profile-feed-scroll-container::-webkit-scrollbar-thumb{
    background-color: #202020;
}
